.center {
    text-align: center;
}

.graytext {
    color: lightgray;
}

.hovermouse:hover {
    cursor: pointer;
}

.nobreak {
    display: inline;
}

.right {
    text-align: right;
}

.bottom {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white;  
}

.messages {
    height: 600px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

#messages {
    padding-bottom: auto;
    border-style: solid; 
}