{% extends "chat/layout.html" %}
{% load static %}
{% block title %}
    
{% endblock %}
{% block body %}
    <div id="messages"></div>
    <div id="newmessage" class="bottom">
        <textarea class="form-control" id="messagetext" placeholder="Write your message here..." style="height: 100px; resize: none;"></textarea>
        <button id="sendmessagetext" class="btn btn-primary ms-auto">Send</button>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'chat/channel.js' %}"></script>
{% endblock %}