{% extends "hello/layout.html" %}
{% load static %}
{% block title %}
    Hello
{% endblock %}
{% block body %}
    <div id="messages"></div>
    <div id="post">
        <textarea class="form-control" id="messagetext" placeholder="Write your message here..." style="height: 100px; resize: none;"></textarea>
        <button id="sendmessagetext" class="btn btn-primary ms-auto">Send</button>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'hello/channel.js' %}"></script>
{% endblock %}